body {
 background-color: #fff;
 margin: 0;
 padding: 0;
}

.todo-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.todo-table th, .todo-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.todo-table th {
    background-color: #f4f4f4;
}

/* Remove the border from the last td with remove btn */
.todo-table td:last-child {
    border: none;
}

/* Styling for remove btn */
.remove-button {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}

.remove-button:hover {
    background-color: darkred;
}